path {
  fill: inherit;
}


.closed {
  opacity: 0;

  transition: all .15s ease-in-out;
}

.open {
  opacity: 1;

  transition: all .15s ease-in-out;
}

.down {
  opacity: 1;
  transition: all .2s ease-in-out;

  transform: translateY(0)
}

.up {
  opacity: 0;
  transition: all .2s ease-in-out;

  transform: translateY(-100px)
  }
